.week-day {

  background: white;
  padding: 8px 12px;
  border-top: 1px solid #dee2e6;
  cursor: pointer;

  &:last-child,
  &:last-of-type {
    border-bottom: 1px solid #dee2e6;
  }

  .date {
    font-family: 'PT-Sans', 'Open Sans Condensed', sans-serif;
    font-size: 1.15em;
    font-weight: 300;
    padding: 4px 0 10px 0;
    color: #222;
  }

  .plans-count {
    color: #555;
  }

  transition: all 0.3s ease !important;

  &:hover {
    background: #FFECE9;
    color: white;
  }

  &:active {
    background: #FFCEC8;//#FF3232;
    color: white;
  }

}
