.nav {
	background: #2874A6;
	height: 100px;
	padding: 5px 15px;
	.container {
		width: 1000px;
		margin: 0 auto;
		color: white;
		font-style: italic;
		padding-left: 60px;
	}
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}